.timeMachine {
	display: flex;
	justify-content: center;
}

.grid {
	width: 43vw;
	display: flex;
	flex-wrap: wrap;

	.square {
		width: 100px;
		height: 100px;
		margin: 20px;
		border: 1px solid gray;
		transition: all 0.3s linear;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
		cursor: pointer;

		&:nth-child(1) {
			background-color: red;
		}

		&:nth-child(2) {
			background-color: green;
		}

		&:nth-child(3) {
			background-color: yellow;
		}

		&:nth-child(4) {
			background-color: blue;
		}

		&:nth-child(5) {
			background-color: brown;
		}

		&:nth-child(6) {
			background-color: orchid;
		}

		&:nth-child(7) {
			background-color: gray;
		}

		&:nth-child(8) {
			background-color: black;
		}

		&:nth-child(9) {
			background-color: darkred;
		}

		&:nth-child(10) {
			background-color: darkblue;
		}

		&:nth-child(11) {
			background-color: darkorchid;
		}

		&:nth-child(12) {
			background-color: darkgreen;
		}

		&:nth-child(13) {
			background-color: darkgoldenrod;
		}

		&:nth-child(14) {
			background-color: orange;
		}

		&:nth-child(15) {
			background-color: tomato;
		}

		&:nth-child(16) {
			background-color: violet;
		}
	}

	.disabled {
		opacity: 0.5;
		cursor: auto;
	}
}

.controls {
	display: flex;
	flex-direction: column;
}
